.editor {
    height: 100%;
    flex-basis: 60%;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.rightCol {
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    overflow: scroll;
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infobox {
    /* Adjust this value to position the box as needed */
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.block {
    border: 2px solid #ccc;
    /* set border size and color */
    padding: 10px;
    /* add some padding to the div */
    border-radius: 10px;
    /* round the border edges */
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    margin: 10px;
    white-space: 'pre-line';
}

.textButtonWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.consoleBlock {
    padding: 10px;
}

.line {
    width: 100%;
}

button {
    background-color: #6200EE;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #3700B3;
}